.section-body{
    color: blanchedalmond;
    height: 100vh;
}

.heading{
    font-size: 100px;
}

.heading-2{
    font-size: 85px;
}

.sub-heading{
    font-size: x-large;
}

.sub-heading-2{
    font-size: 20px;
}

.section-2{
    background-color: #171616;
}